@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure MVC App!</h1>
    <p>My first .NET Core MVC app running on Azure - QA Environment.</p>
</div>
